<head>
  <body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">
</head>

<div class="center-align">
  <h1 class="white-text">Wanna make a Playlist?</h1>
  <p>C'mon, do it!</p>
</div>

<div class="center-align">
  <%= link_to "Login with Spotify", login_path , class:"btn large lime darken-2"%>
</div>
