<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper lime darken-2">
      <i class="brand-logo center large material-icons">play_circle_outline</i>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><h4>Playlist Planner</h4></li>
      </ul>
      <% if current_user %>         
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><h4><%= link_to "Logout", logout_path %></h4></li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>
