<!-- Modal -->
<div id="email-link" class="modal black">
  <div class="modal-header">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat white-text">X</a>
  </div>
    <div class="row">
      <div class="col s12">
        <p></p>
      </div>
      <div class="col s12 center-align white-text">
        <h4>Email Link</h4>
        <p>Send share link so your friends can begin making requests</p>
        <input type="text" class="addresses" name="email">
        <p class="center-align compact">(Use a single space to separate multiple addresses)</p>
        <button class="send-emails btn lime darken-2">Send Email</button>
    </div>
    </div><br>
</div>
