<h2>Search Results:</h2>

<ul>
  <% @search_results.each do |song| %>
    <li>
      <h5> <%= song[:name] %></h5>
      <%= link_to "Add To Playlist", new_song_path %>
      <h6> <%= song[:artists] %></h6>
      <%= song[:duration] %>
    </li>
  <% end %>
</ul>
