.header {
  background-color: rgba(255,255,255,.3);
  text-shadow: 2px 2px 1px #333;
  font-family: Lobster, sans-serif;
}

.white-transparent {
  background-color: rgba(255,255,255,.3);
}

.liner {
  margin: 10px;
  padding: 5px;
}
