.header {
  background-color: rgba(255,255,255,.3);
  text-shadow: 2px 2px 1px #333;
  font-family: Lobster, sans-serif;
}

.white-transparent {
  background-color: rgba(255,255,255,.45);
}

.compact {
  margin: 2px;
}

.spaced {
  margin: 16px;
}
.liner {
  margin: 10px;
  padding: 5px;
}

body {
  background-attachment: fixed;
}

.track-card {
  width: 280px;
}

.small-card {
  height: 125px !important;
}

.small-action {
  height: 40px !important;
}

.track-title {
  font-size: 20px !important;
  font-weight: 250 !important;
  line-height: 20px !important;
}

.track-artist {
  font-size: 12px !important;
  font-weight: 170 !important;
  line-height: 20px !important;
}
