<head>
  <body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">
</head>

  <div class="row">
    <div class="col m3">
      <p></p>
    </div>
    <div class="col m6 center-align white-text">
      <div class="white-transparent">
      <h5> New Playlist Name</h5>
      <%= form_tag playlists_path, method: :post do %>
        <%= label_tag :name %>
        <%= text_field_tag :name %>
        <br><br>
        <%= submit_tag "Create", class: "btn" %>
        <br><br>
      <% end %>
    </div>
  </div>
  </div><br>
